<aside class="border-start p-1">

  <app-publicidade></app-publicidade>

  <section class="container-fluid mb-2">
    <h6 class="text-uppercase fw-bold mb-2"><img src="assets/Rectangle741.svg" alt=""> Últimas Noticias </h6>
    <div class="row">
      <app-news-section class="d-flex flex-column justify-content-end"
                        *ngFor="let noticia of lastnews"
                        [ranking]="false"
                        [lastNews]="true"
                        [newsSection]="noticia"></app-news-section>
    </div>
  </section>



  <app-publicidade></app-publicidade>

  <section>
    <h6 class="mt-4 text-uppercase fw-bold"><img src="assets/Rectangle741.svg" alt=""> Enquetes</h6>
      <app-enquete-section [enq]="enquetes[0]"></app-enquete-section>
    <div class="text-center my-4">
      <button class="btn btn-outline-danger" type="" routerLink="/enquetes">Ver Mais</button>
    </div>
  </section>

  <app-publicidade></app-publicidade>
</aside>
