<app-header></app-header>
<main class="container shadow bg-white py-2">
  <article class="row">
    <section class="col-12 my-2">
      <app-publicidade [tipo]="3"></app-publicidade>
    </section>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
    <div class="d-none d-md-block col-md-4">
      <app-sidebar></app-sidebar>
    </div>
  <div class="col-12">
    <section class="col-12 my-4"> <!-- Bottom -->
      <hr>
      <div class="container-fluid text-center my-4">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalErro">
          Comunicar Erro <img src="assets/icone-erro.svg" width="24" alt="">
        </button>
      </div>

      <div class="modal fade" id="modalErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: var(--red)">Comunicar Erro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <p class="small text-body-tertiary">Comunicar ao portal erros de português ou informar erros técnicos
                  encontrada nesta página</p>
                <p class="mt-3 small text-body-tertiary">Página: Home</p>
                <div class="row">
                  <div class="col-md-6">
                    <label class="small mb-2" for="nome">Nome Completo</label>
                    <input class="p-1 rounded-1 small w-100" placeholder="informe seu nome" id="nomeModal" type="text"
                           style="border: 0;background-color: var(--cinza-claro);">
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-2 w-100" for="email">Email</label>
                    <input class="p-1 rounded-1 small w-100" placeholder="informe seu email" id="emailModal" type="email"
                           style="border: 0;background-color: var(--cinza-claro);">
                  </div>
                  <div class="col-md-12 mt-3">
                <textarea class="w-100 form-control" name="erro" id="textoErroModal" rows="3"
                          style="border: 0;background-color: var(--cinza-claro);"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                      style="background-color: var(--red)">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid text-center">
                <img src="assets/checkmark-modal.svg" width="50" alt="Success">
                <h6 class="my-3">Enviado com sucesso para o portal</h6>
                <p>A equipe agradece sua colaboração</p>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    <app-newsletter></app-newsletter>

    </section>
  </div>
  </article>
</main>
<app-footer></app-footer>
